/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
/*

Aella Event Planner

Content Tabel
+---------------+

Text Color: #757575;
Featured color: #b3885e;
*/

/* Background Color */

body,
.style_v4:not(.home) #navbar ul.nav ul{
	background-color: #f5f5f5;
}
.home.style_v1,
.portfolio .nivo-caption,
.portfolio .nivo-controlNav,
.pageFixed h2.entry-title,
.pageFixed,
.loadPage:before,
.main-content,
.aella-tabs ul.nav-tabs > li a,
.carousel-gallery .carousel-indicators,
.blog-post article .entry-title small,
#navbar ul.nav li.hover > ul,
/*.style_v4 .header,
.style_v4 .footer, */
.style_v4 #navbar ul.nav ul,
#carousel-galleries_v3 .aella-gallery img,
.home.style_v4 .header,
.home.style_v4 .footer{
	background-color: #FFF;
}
.portfolio .nivo-caption,
.portfolio .nivo-controlNav{
	background-color: rgba(255,255,255, 0.9);
}
h1.entry-title:AFTER,
.carousel-gallery .carousel-indicators li,
.single-member ul.social a{
	background-color: #c2c2c2
}
#navbar ul.nav > li > a:after,
.footer ul.social a,
.footer ul.social:after,
.single-member h2.entry-title:AFTER,
#carousel-testimonials h3.entry-title:after,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.author a:before,
#reply-title:after,
.style_v4 #navbar .nav > li > a:before{
	background-color: #282828;
}
#navbar ul.nav > li > a:hover:after,
.footer ul.social a:hover,
.single-member ul.social a:hover,
.button button,
.button a,
.button input,
.aella-gallery h2.entry-title,
.aella-gallery figcaption a,
.carousel-gallery .carousel-indicators li.active,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.author a:hover:before,
.style_v2 .footer ul.social a:hover,
.style_v3 .footer ul.social a:hover,
#commentform .form-submit .submit{
	background-color: #b3885e;
}
.aella-gallery h2.entry-title,
.aella-gallery figcaption a{
	background-color: rgba(179, 136, 94, 0.8);
}
.button button:before,
.button a:before,
.button input:hover,
.button input:focus,
#commentform .form-submit .submit:hover{
	background-color: #785c41;
}
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, 
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{
	background-color: #dbdbdb;
}
.blog-post .entry-content figcaption:after,
.navbar-header .navbar-toggle .icon-bar{
	background-color: #8f8f8f;
}
.style_v2 .header,
.style_v2 #navbar ul.nav ul,
.style_v2 .footer,
.style_v3 .header,
.style_v3 #navbar ul.nav ul,
.style_v3 .footer,
.style_v3 #primary-navigation,
.navbar-header .navbar-toggle{
	background-color: #0f0f0f;
}
.style_v2 #navbar .nav > li > a:before{
	background-color: #424242;
}
.style_v2 .footer ul.social a,
.style_v3 .footer ul.social a{
	background-color: #5c5c5c;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.style_v1 #navbar ul.nav ul{
	    background-color: #f5f5f5;
	}
	.home.style_v1 #navbar ul.nav ul{
	    background-color: #fff;
	}
}
@media screen and (max-width: 767px) {
	.style_v1 #primary-navigation{
		background-color: #f5f5f5;
	}
	.carousel-gallery h2.entry-title{
		background-color: rgba(255, 255, 255, 0.8)
	}
}


/* Text Color */
body,
.style_v2 #navbar ul.nav > li a,
.style_v3 #navbar ul.nav > li a,
.style_v1 #navbar ul.nav ul a,
.style_v1 #navbar a.dropdown,
.style_v4 #navbar a.dropdown,
.tags a{
	color: #757575;
}
#navbar ul.nav > li a,
.portfolio .nivo-controlNav .nivo-control,
h1.entry-title,
h1.entry-title a,
h2.entry-title,
h2.entry-title a,
h3.entry-title,
h3.entry-title a,
#reply-title,
.navbar-brand,
#carousel-galleries_v3 .aella-gallery h2.entry-title a,
.aella-tabs ul.nav-tabs > li.active a,
.aella-tabs ul.nav-tabs > li a:hover,
.author a{
	color: #282828;
}
.footer ul.social a,
.single-member ul.social a,
.button button,
.button a,
.button a:hover,
.button input,
.aella-team .aella-member figcaption a,
.aella-team .aella-member figcaption a:hover,
.aella-gallery h2.entry-title a,
.aella-gallery h2.entry-title a:hover,
.aella-gallery h2.entry-title small,
.aella-gallery figcaption a,
.aella-gallery figcaption a:hover,
.style_v2 .footer ul.social a:hover,
.style_v3 .footer ul.social a:hover,
#commentform .form-submit .submit{
	color: #FFF;
}
.footer .copyright,
h2.entry-title small,
h1.entry-title small,
#carousel-galleries_v3 .aella-gallery h2.entry-title small,
.aella-tabs ul.nav-tabs > li a,
.blog-post .entry-content figcaption{
	color: #8f8f8f;
}
.portfolio .nivo-directionNav .nivo-prevNav,
.portfolio .nivo-directionNav .nivo-nextNav,
.portfolio #pullDown,
.carousel .carousel-control,
.pageFixed .pullUp a,
.loading,
.loadPage:after{
	color: #c2c2c2;
}
#carousel-testimonials .entry-content:after,
#carousel-testimonials .entry-content:before,
#navbar ul.nav li.hover > ul{
	color: #e8e8e8;
}
.comment-meta .comment-date,
.comment-meta a,
.style_v2 .footer .copyright,
.style_v3 .footer .copyright{
	color: #5c5c5c;
}
.style_v2 .footer ul.social a,
.style_v3 .footer ul.social a{
	color: #0f0f0f;
}
a,
a:hover,
a:focus,
#navbar ul.nav li a:hover,
#navbar ul.nav li a:focus,
#navbar ul.nav li.active > a,
.style_v2 #navbar ul.nav li a:hover,
.style_v2 #navbar ul.nav li a:focus,
.style_v2 #navbar ul.nav li.active > a,
.style_v3 #navbar ul.nav li a:hover,
.style_v3 #navbar ul.nav li a:focus,
.style_v3 #navbar ul.nav li.active > a,
.style_v4 #navbar ul.nav li a:hover,
.style_v4 #navbar ul.nav li a:focus,
.style_v4 #navbar ul.nav li.active > a,
.portfolio .nivo-directionNav .nivo-prevNav:hover,
.portfolio .nivo-directionNav .nivo-nextNav:hover,
.portfolio #pullDown:hover,
h2.entry-title a:hover,
h1.entry-title a:hover,
h3.entry-title a:hover,
.carousel .carousel-control:hover,
.pageFixed .pullUp a:hover,
.author a:hover,
.filters #searchsubmit:hover,
.filters #searchsubmit:focus,
.comment-meta a:hover,
#carousel-galleries_v3 .aella-gallery h2.entry-title a:hover,
.tags a:hover{
	color: #b3885e;
}
a:hover,
a:focus{
	color: rgba(179, 136, 94, 0.8);
}


/* Border Color */
body,
.pageFixed .pageFixed-inner{
	border-color: #0f0f0f;
}
body.home.style_v4{
	border-color: #FFF;
}
body.style_v4{
	border-color: #f5f5f5;
}
.footer ul.social{
	border-color: #dbdbdb;
}
#carousel-testimonials,
.filters,
.comment-list .comment-content,
.entry-social,
#carousel-galleries_v3,
.style_v1 #navbar{
	border-color: #e8e8e8;
}
.aella-tabs .tab-content,
.aella-tabs ul.nav-tabs > li,
.filters select,
.filters input,
#commentform input,
#commentform textarea,
.wpcf7-form input,
.wpcf7-form textarea{
	border-color: #c2c2c2;
}
.button button,
.button a,
.button input,
#commentform input#submit{
	border-color: #785c41;
}


/* box-shadow */
.footer ul.social a:after,
.single-member ul.social a:after{
	-moz-box-shadow: 0 0 0 2px #b3885e;
	-webkit-box-shadow: 0 0 0 2px #b3885e;
	box-shadow: 0 0 0 2px #b3885e;
}
#carousel-galleries_v3 .aella-gallery img{
	-webkit-box-shadow: 0 0 5px #c2c2c2;
    -moz-box-shadow: 0 0 5px #c2c2c2;
    box-shadow: 0 0 5px #c2c2c2;
}
#carousel-galleries_v3 figure:hover img:nth-child(1),
#carousel-galleries_v3 figure:hover img:nth-child(2),
#carousel-galleries_v3 figure:hover img:nth-child(3){
	-webkit-box-shadow: 2px 2px 5px #c2c2c2;
    -moz-box-shadow: 2px 2px 5px #c2c2c2;
	box-shadow: 2px 2px 5px #c2c2c2;
}
.aella-team figure:hover figcaption,
.aella-team figure:focus figcaption,
.aella-team figure:active figcaption {
	box-shadow: 0 0 100px 50px #b3885e inset;
}


/* Font Family */
body{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
}
h2.entry-title small,
h1.entry-title small,
h3.entry-title small,
.portfolio .nivo-controlNav .nivo-control,
#carousel-testimonials .entry-content,
.blog-post .entry-content figcaption,
.comment-list .comment-meta,
.tags{
	font-family: 'Old Standard TT', serif;
}