#navbar ul.nav > li > a:hover:after,
.footer ul.social a:hover,
.single-member ul.social a:hover,
.button button,
.button a,
.button input,
.aella-gallery h2.entry-title,
.aella-gallery figcaption a,
.carousel-gallery .carousel-indicators li.active,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.author a:hover:before,
.style_v2 .footer ul.social a:hover,
.style_v3 .footer ul.social a:hover,
#commentform .form-submit .submit {
  background-color: #b3885e;
}
.aella-gallery h2.entry-title,
.aella-gallery figcaption a {
  background-color: rgba(179,136,94,0.8);
}
.button button:before,
.button a:before,
.button input:hover,
.button input:focus,
#commentform .form-submit .submit:hover {
  background-color: #775a3f;
}
a,
a:hover,
a:focus,
#navbar ul.nav li a:hover,
#navbar ul.nav li a:focus,
#navbar ul.nav li.active > a,
.style_v2 #navbar ul.nav li a:hover,
.style_v2 #navbar ul.nav li a:focus,
.style_v2 #navbar ul.nav li.active > a,
.style_v3 #navbar ul.nav li a:hover,
.style_v3 #navbar ul.nav li a:focus,
.style_v3 #navbar ul.nav li.active > a,
.style_v4 #navbar ul.nav li a:hover,
.style_v4 #navbar ul.nav li a:focus,
.style_v4 #navbar ul.nav li.active > a,
.portfolio .nivo-directionNav .nivo-prevNav:hover,
.portfolio .nivo-directionNav .nivo-nextNav:hover,
.portfolio #pullDown:hover,
h2.entry-title a:hover,
h1.entry-title a:hover,
h3.entry-title a:hover,
.carousel .carousel-control:hover,
.pageFixed .pullUp a:hover,
.author a:hover,
.filters #searchsubmit:hover,
.filters #searchsubmit:focus,
.comment-meta a:hover,
#carousel-galleries_v3 .aella-gallery h2.entry-title a:hover {
  color: #b3885e;
}
a:hover,
a:focus {
  color: rgba(179,136,94,0.8);
}
.button button,
.button a,
.button input,
#commentform input#submit {
  border-color: #775a3f;
}
.footer ul.social a:after,
.single-member ul.social a:after {
  -moz-box-shadow: 0 0 0 2px #b3885e;
  -webkit-box-shadow: 0 0 0 2px #b3885e;
  box-shadow: 0 0 0 2px #b3885e;
}
.aella-team figure:hover figcaption,
.aella-team figure:focus figcaption,
.aella-team figure:active figcaption {
  box-shadow: 0 0 100px 50px #b3885e inset;
}
